<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" class="navcolor">SAHAAY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link navcolor" style="background-color: rgb(149, 135, 189) ;  padding:10px; margin:10px; border-radius: 10px;" routerLink="/home">HOME</a>
            </li>

            <li class="nav-item active ">
                <a class="nav-link navcolor" style="background-color: rgb(149, 135, 189) ;   padding:10px; margin:10px; border-radius: 10px;" routerLink="/youtube">YOUTUBE SUGGESTIONS</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link navcolor" style="background-color: rgb(149, 135, 189) ;   padding:10px; margin:10px; border-radius: 10px;" routerLink="/games">GAME SUGGESTIONS</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link navcolor" style="background-color: rgb(149, 135, 189) ;   padding:10px; margin:10px; border-radius: 10px;" routerLink="/comedy">STANDUP COMEDY SUGGESTIONS</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>